.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  padding: 28px 28px 36px 28px;
  border-radius: 20px;
  margin: auto;
  background-color: #fff;
  width: 496px;
}

.modal__close-button {
  background: transparent url(../../images/close.svg) center no-repeat;
  border: none;
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

.modal__title {
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  max-width: 358px;
  margin: 0 0 24px 0;
  color: #000;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__add-button {
  height: 36px;
  width: 124px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background: #000;
  color: #fff;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.modal__add-button:hover {
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.form__title {
  margin: 0 0 8px 0;
}

.form__input {
  padding: 4px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form__radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__radio-button {
  display: flex;
  gap: 8px;
}
