.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 1360px;
  margin: auto;
  padding: 32px 40px 0 40px;
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__logo {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__profile-logo {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__add-button {
  background-color: transparent;
  border: none;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
}

.header__add-button:hover {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.header__profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
